@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-w-100{
    font-weight: 100;
}
.font-w-300{
    font-weight: 300;
}
.font-w-400{
    font-weight: 400;
}
.font-w-500{
    font-weight: 500;
}
.font-w-700{
    font-weight: 700;
}
.font-w-900{
    font-weight: 900;
}
.font-s-8{
    font-size: 8px;
}
.font-s-10{
    font-size: 10px;
}
.font-s-12{
    font-size: 12px;
}
.font-s-14{
    font-size: 14px;
}
.font-s-16{
    font-size: 16px;
}
.font-s-18{
    font-size: 18px;
}
.font-s-20{
    font-size: 20px;
}
.font-s-22{
    font-size: 22px;
}
.font-s-24{
    font-size: 24px;
}
.font-s-26{
    font-size: 26px;
}